= form_for(@user, :url => user_path(@user), method: :put, html: {:class =>'form-signin', :multipart => true, :class =>'form-signin'}) do |f|
  %label Name
  = f.text_field :name, :class => "form-control", :placeholder => "Email"
  %label Profile Picture
  = f.file_field :avatar, :class => "form-control"
  = f.submit "Save", :class => "btn btn-lg btn-primary btn-block"
