%h2.sub-header Users
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th email
        %th Actions
        %th
    %tbody
      - @users.each do |user|
        = render partial: "users", :locals => {:user => user}
