%h2.sub-header Users
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th email
        %th Actions
    %tbody
      - @users.each do |user|
        %tr
          %td
          %td  #{user.email}
          %td
            = link_to user.banned ? "Unblock" : "Block"
            |
            = link_to "Show", user_path(user)
